# mySQL DB 연결
DB_USER=root
DB_PASSWORD="본인 비밀번호 입력"
DB_HOST=localhost
DB_NAME=skincare_db


# JWT 토큰 관련 설정
# 토큰을 암호화하는 비밀 열쇠
SECRET_KEY=
# 토큰 암호화 방식 (HS256이 많이 쓰는 기본값)
ALGORITHM=HS256
# 토큰이 몇 분간 유효한지 (60분 지나면 재로그인 필요)
TOKEN_EXPIRE_MINUTES=60


